.footer {
  background-color: $primary-black-color;
}
.footer-container {
  padding-top: 12rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
}
.container {
}
.footer_content {
  display: flex;
  align-items: center;
}
.footer_logo_a {
  margin-right: auto;
}
.footer_logo {
}
.footer_ul {
  display: flex;
  gap: 4.2rem;
}
.footer_li {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    background-color: $primary-white-color;
    transition: 0.3s;
    height: 1px;
    display: inline-block;
  }
  &:hover::before {
    width: 100%;
  }
}
.footer_li_a {
  color: $primary-white-color;
  font-family: $main-ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  letter-spacing: 2px;
}

.footer_hr {
  margin-top: 4.6rem;
  margin-bottom: 3.1rem;
}

.footer_kon {
  display: flex;
  justify-content: space-between;
}
.footer__uls {
}
.footer__lis {
  display: flex;
  flex-direction: column;
}
.footer__lis_a {
  opacity: 0.5;
  color: $primary-white-color;
  font-family: $main-ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
}
.footer_a_imgs {
  position: relative;
  top: 50px;
}
.footer_a_img {
}

.footer_logo_hr {
  display: none;
}

@media screen and (max-width: 652px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6rem;
  }
  .footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
  }
  .footer_ul {
    display: flex;
    flex-direction: column;
  }
  .footer_hr {
    display: none;
  }
  .footer_logo_hr {
    width: 100%;
    max-width: 300px;
    display: block;
  }

  .footer_kon {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .footer_a_imgs {
    position: relative;
    top: 14px;
  }
}
