.local {
}
.local-container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.container {
}
.local_ul {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.local_li {
  display: flex;
  column-gap: 3.2rem;
  position: relative;
}
.local_img {
}
.local_imgs {
}

.local_h1 {
  position: absolute;
  top: 80px;
  left: 160px;
  color: $primary-peach-color;
  font-family: $main-ff;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 120% */
}

.local_menu {
  position: absolute;
  top: 160px;
  left: 160px;
}
.local_menu_h1 {
  color: $secondary-gdark-grey-color;
  font-family: $main-ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
}
.local_menu_p {
  color: $secondary-gdark-grey-color;
  font-family: $main-ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.local_menus {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 160px;
  left: 460px;
}
.local_menusss {
  position: absolute;
  top: 160px;
  right: 460px;
}
.local_menus_lar {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 160px;
  right: 160px;
}

.menus {
  top: 70px;
  position: absolute;
  right: 470px;
  color: $primary-peach-color;
  font-family: $main-ff;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 120% */
}
.local_div {
  display: flex;
  column-gap: 3.2rem;
}

@media screen and (max-width: 768px) {
  .local_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .local_li {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .local_img {
    width: 680px;
    height: 300px;
    border-radius: 15px;
  }

  .local_imgs {
    width: 680px;
    height: 300px;
    border-radius: 15px;
  }
  .local_div {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
}

@media screen and (max-width: 680px) {
  .local_h1 {
    position: absolute;
    right: 50%;
    left: 40%;
    top: 20px;
    font-size: 32px;
    width: 100%;
    max-width: 300px;
  }
  .local_img {
    width: 100%;
    max-width: 480px;
    height: 300px;
    border-radius: 15px;
  }

  .local_imgs {
    width: 100%;
    max-width: 480px;
    height: 300px;
    border-radius: 15px;
  }
  .local_menu {
    position: absolute;
    top: 90px;
    left: 180px;
  }
  .local_menus {
    position: absolute;
    top: 180px;
    left: 180px;
  }
  .menus {
    position: absolute;
    top: 20px;
    left: 180px;
  }
  .local_menusss {
    position: absolute;
    top: 90px;
    left: 180px;
    width: 200px;
  }
  .local_menus_lar {
    position: absolute;
    top: 180px;
    left: 180px;
  }
}
